{% extends "base.html" %}
{% load static %}

{% block 'main' %}


    


  <!-- ===============//banner section start here \\================= -->
  <!-- <section class="banner-section style-2" style="background-image:url(assets/images/banner/bg.jpg)"> -->
             
   
          <div class="container">
              <div class="banner-wrapper">
                  <div class="row align-items-center justify-content-center">
                      <div class="col-lg-8">
                          <div class="banner-content text-center">
                              <h1><span>Discover</span> Collect <br>
                                  And Sell Extraordinary <span>NFTs</span></h1>
                              <p>Digital Marketplace For Crypto Collectibles And Non-Fungible Tokens.
                                  Buy, Sell, And Discover Exclusive Digital Assets.</p>
                              <div class="banner-btns d-flex flex-wrap justify-content-center">
                                  <a href="explore.html" class="default-btn home-2 move-top"
                                      data-blast="bgColor"><span>Buy Challenge..!</span> </a>
                                  <a href="signin.html" class="default-btn home-2 move-right"><span>Get Start</span> </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- ===============//banner section end here \\================= -->



      <section id="counter">
        <section class="counter-section">
          <div class="container">
            <div class="row text-center">
              <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                <h2>
                  <span id="count1"></span> M+
                </h2>
                <p>Paid out to FTMD Traders</p>
              </div>
              <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                <h2>
                  <span id="count2"></span> M+
                </h2>
                <p>No.of countries with traders registered at FTMO</p>
              </div>
              <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                <h2>
                  <span id="count3"></span>M+
                </h2>
                <p>No.of trades apened every month</p>
              </div>
              <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
                <h2>
                  <span id="count4"></span> M+
                </h2>
                <p>Avg payout processing time</p>
              </div>
            </div>
          </div>
        </section>
      </section>
    

     
     
     
     
     
     
     
                               <!-- ==========wallet Section start Here========== -->
  <section class="wallet-section padding-top padding-bottom">
    <div class="container">
        <div class="section-header style-4">
            <div class="header-shape"><span></span></div>
            <h3>All Wallet Options</h3>
        </div>
        <div class="wallet-inner">
            <div class="row g-3">
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="wallet-item home-4">
                        <div class="wallet-item-inner text-center">
                            <div class="wallet-thumb">
                                
                                <span>AUB/UAE</span>&nbsp;&nbsp;
                                <span style="color: red;">-852.1</span>
                                
                            </div>
                            <div class="wallet-content">
                                 <span>0.1256</span>&nbsp;&nbsp;
                                <span style="color: red;">-.0213%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="wallet-item home-4">
                        <div class="wallet-item-inner text-center">
                            <div class="wallet-thumb">
                               <span>AUB/UAE</span>&nbsp;&nbsp;
                               <span style="color: red;">-852.1</span>
                               
                            </div>
                            <div class="wallet-content">
                               <span>0.1256</span>&nbsp;&nbsp;
                               <span style="color: red;">-.0223%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="wallet-item home-4">
                        <div class="wallet-item-inner text-center">
                            <div class="wallet-thumb">
                                
                                <span>AUB/UAE</span>&nbsp;&nbsp;
                                <span style="color: red;">-852.1</span>
                                
                            </div>
                            <div class="wallet-content">
                                <span>0.1256</span>&nbsp;&nbsp;
                                <span style="color: red;">-.0213%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="wallet-item home-4">
                        <div class="wallet-item-inner text-center">
                            <div class="wallet-thumb">
                                
                                <span>AUB/UAE</span>&nbsp;&nbsp;
                                <span style="color: red;">-852.1</span>
                                
                            </div>
                            <div class="wallet-content">
                                <span>0.1256</span>&nbsp;&nbsp;
                                <span style="color: red;">-.0223%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="wallet-item home-4">
                        <div class="wallet-item-inner text-center">
                            <div class="wallet-thumb">
                                
                                <span>AUB/UAE</span>&nbsp;&nbsp;
                                <span style="color: red;">-852.1</span>
                                
                                
                            </div>
                            <div class="wallet-content">
                                <span>0.1256</span>&nbsp;&nbsp;
                                <span style="color: red;">-.0223%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="wallet-item home-4">
                        <div class="wallet-item-inner text-center">
                            <div class="wallet-thumb">
                               
                                <span>AUB/UAE</span>&nbsp;&nbsp;
                                <span style="color: red;">-852.1</span>
                                                                
                               
                            </div>
                            <div class="wallet-content">
                                <span>0.1256</span>&nbsp;&nbsp;
                                <span style="color: red;">-.0123%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<br>

        <div class="wallet-inner">
            <div class="row g-3">
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="wallet-item home-4">
                        <div class="wallet-item-inner text-center">
                            <div class="wallet-thumb">
                                
                                <span>AUB/UAE</span>&nbsp;&nbsp;
                                <span style="color: red;">-852.1</span>
                                
                            </div>
                            <div class="wallet-content">
                                 <span>0.1256</span>&nbsp;&nbsp;
                                <span style="color: red;">-.0213%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="wallet-item home-4">
                        <div class="wallet-item-inner text-center">
                            <div class="wallet-thumb">
                               <span>AUB/UAE</span>&nbsp;&nbsp;
                               <span style="color: red;">-852.1</span>
                               
                            </div>
                            <div class="wallet-content">
                               <span>0.1256</span>&nbsp;&nbsp;
                               <span style="color: red;">-.0223%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="wallet-item home-4">
                        <div class="wallet-item-inner text-center">
                            <div class="wallet-thumb">
                                
                                <span>AUB/UAE</span>&nbsp;&nbsp;
                                <span style="color: red;">-852.1</span>
                                
                            </div>
                            <div class="wallet-content">
                                <span>0.1256</span>&nbsp;&nbsp;
                                <span style="color: red;">-.0213%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="wallet-item home-4">
                        <div class="wallet-item-inner text-center">
                            <div class="wallet-thumb">
                                
                                <span>AUB/UAE</span>&nbsp;&nbsp;
                                <span style="color: red;">-852.1</span>
                                
                            </div>
                            <div class="wallet-content">
                                <span>0.1256</span>&nbsp;&nbsp;
                                <span style="color: red;">-.0223%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="wallet-item home-4">
                        <div class="wallet-item-inner text-center">
                            <div class="wallet-thumb">
                                
                                <span>AUB/UAE</span>&nbsp;&nbsp;
                                <span style="color: red;">-852.1</span>
                                
                                
                            </div>
                            <div class="wallet-content">
                                <span>0.1256</span>&nbsp;&nbsp;
                                <span style="color: red;">-.0223%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="wallet-item home-4">
                        <div class="wallet-item-inner text-center">
                            <div class="wallet-thumb">
                               
                                <span>AUB/UAE</span>&nbsp;&nbsp;
                                <span style="color: red;">-852.1</span>
                                                                
                               
                            </div>
                            <div class="wallet-content">
                                <span>0.1256</span>&nbsp;&nbsp;
                                <span style="color: red;">-.0123%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>







<!-- ==========wallet Section ends Here========== -->                                                                                                



      <section >
        <div class="container  mt-3">
            
            <div class="row">
                <div class="col-md-6 ">
                    <img src="{% static 'assets\images\account\pexels-karolina-grabowska-7876503.jpg' %}" alt="#" width="100%" height="100%">
                </div>
                <div class="col-md-6 p-5 ">
                    <h3 >Traders Read this</h3><br>
                    <p>Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Ratione facere pariatur
                         delectus, quas dolor facilis qui, eligendi 
                         accusantium sed rem consectetur harum excepturiquis iusto ea
                         molestiae ut repellendus velit?</p>
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore minima placeat animi esse tempore facere nisi, sed repellendus quaerat beatae dicta repudiandae, quos ullam reprehenderit nulla labore officiis? Ratione, sint?</p>
                </div>
            </div>
        </div>
      </section>


<!-- ======key highlights===== -->

<section class="wallet-section padding-top padding-bottom">
    <div class="container">
        <div class="section-header style-4">
            <div class="header-shape"><span></span></div>
            <h3>Key Highlights</h3>
        </div><br><br>
         <div class="container">
              <div class="row">   
                <div class="col-md-6">
                    <h2>Swing Account</h2><br><br>
                    <p>Pick the FFS Account that perfectly suits your trading style and needs. FFS Account Swing has no 
                        restrictions on holding positions over the weekend or trading during macroeconomic releases.</p>
                </div>
                <div class="col-md-6">
                    <h2>Scaling Plan</h2><br><br>
                    <p>We aim for long-term business relationships. If you manage to be consistent and profitable, we will 
                        increase 
                     the balance of your FFS Account by 25% every 4 months according to the Scaling Plan.</p>
                </div>
            </div>
        </div><br><br>
        <div class="container">
            <div class="row">   
              <div class="col-md-6">
                  <h2>15% Profit Sharing from Challenge Phase</h2><br><br>
                  <p>FxFundSpot is the only prop firm to offer a 15% profit sharing from the profit you make 
                    during the challenge phases. This is to incentivize our top traders and to deliver on our promise of the world’s 
                    best payout bonuses.</p>
              </div>
              <div class="col-md-6">
                  <h2>No Time Limit on <br>Challenges</h2><br><br>
                  <p>FxFundSpot offers no time limits in its funding challenges. This means that you can trade with 
                    complete peace of mind. No more anxiety to reach the profit target within a deadline.</p>
              </div>
          </div>
      </div><br><br>
      <div class="container">
        <div class="row">   
          <div class="col-md-6">
              <h2>Balance Based <br>Drawdown</h2><br><br>
              <p>Max daily drawdown is calculated based on your balance. If you have trades running when a new trading day 
                starts, the ‘balance’ at that time will be considered for Daily drawdown calculation, not the ‘equity’. 
                This is to deliver on our promise of the world's most reliable prop firm.</p>
          </div>
          <div class="col-md-6">
              <h2>Raw Spreads & Lowest Commissions</h2><br><br>
              <p>FxFundSpot ensures raw spread, including in Swap Free accounts to deliver on its promise of the world’s
                 best prop trading conditions. FxFundSpot also offers the lowest commissions for traders with 3$/round 
                 lot on Currency Pairs & Commodities and 0$/round lot on Indices.</p>
          </div>
      </div>
  </div>
<!-- ======key highlights===== --> <br><br>







<script>
        // active navbar
let nav = document.querySelector(".navigation-wrap");
window.onscroll = function () {
    if(document.documentElement.scrollTop  > 20){
        nav.classList.add("scroll-on");
    }else{
        nav.classList.remove("scroll-on");
    }
}

 
// counter design
 document.addEventListener("DOMContentLoaded", () => {
    function counter(id, start, end, duration){
        let obj = document.getElementById(id),
        current = start,
        range = end - start,
        increment = end > start ? 1 : -1,
        step = Math.abs(Math.floor(duration /  range)),
        timer = setInterval(() => {
            current += increment;
            obj.textContent = current;
            if(current == end){
                clearInterval(timer);
            }
        }, step);
    }
    counter("count1", 0, 128, 3000);
    counter("count2", 100, 278, 2500);
    counter("count3", 0, 144, 3000);
    counter("count4", 0, 210, 3000);
 });
    
</script>

{% endblock %}